{% extends "base.html" %}
{% block content %}
<form action="" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Recipe URL</label>
    <input type="text" name="url" class="form-control" value="https://menunedeli.ru/recipe/vengerskij-sup-gulyash-s-kartofelem/">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{ name }}
{% if ingredients %}
<ul>
{% for ingredient in ingredients %}
<li>{{ingredient.item}} - {{ingredient.qty}}  {{ingredient.units}}</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}